<!DOCTYPE html>
<html lang="en">

<head th:insert="fragments :: html_head">
	<title>User Update</title>
</head>

<body>
	<div th:insert="fragments :: navbar" />
	<div class="container">
		<div th:insert="fragments :: sidenav" />
		<div class="main_contents">
			<div id="sub_content">
				<form th:action="@{/user/updateUser}" th:object="${data}" method="post">
					<h2 class="col-md-6 offset-md-2 mb-5 mt-4">User Update</h2>
					<h3 style="color: red; text-align: center;" th:text="${error}"></h3>
					<h3 style="color: green; text-align: center;" th:text="${message}"></h3>
					<input type="hidden" th:field="*{id}">
					<div class="row mb-4">
						<div class="col-md-2"></div>
						<label for="email" class="col-md-2 col-form-label">Email</label>
						<div class="col-md-4">
							<input type="email" class="form-control" id="email" th:field="*{email}">
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-2"></div>
						<label for="name" class="col-md-2 col-form-label">Name</label>
						<div class="col-md-4">
							<input type="text" class="form-control" id="name" th:field="*{name}">
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-2"></div>
						<label for="Passowrd" class="col-md-2 col-form-label">Passowrd</label>
						<div class="col-md-4">
							<input type="text" class="form-control" id="password" th:field="*{password}">
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-2"></div>
						<label for="confirmPassword" class="col-md-2 col-form-label">Confirm
							Passowrd</label>
						<div class="col-md-4">
							<input type="text" class="form-control" id="confirmPassword" th:field="*{confirmPassword}">
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-2"></div>
						<label for="userRole" class="col-md-2 col-form-label">User
							Role</label>
						<div class="col-md-4">
							<select th:field="*{userRole}" class="form-select" aria-label="Education" id="userRole">
								<option th:value="Admin" th:text="Admin"></option>
								<option th:value="User" th:text="User"></option>
							</select>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-4"></div>
						<div class="col-md-6">
							<button type="submit" class="btn btn-success col-md-2">Update</button>
							<button type="button" class="btn btn-secondary col-md-2 "
								onclick="location.href = '/user/userManagement';">Back</button>
						</div>
				</form>
			</div>
		</div>
	</div>
	<div th:insert="fragments :: footer" />
</body>